<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user1" class="com.chuhelan.User">
        <property name="id" value="124"/>
        <property name="name" value="小王"/>
        <property name="password" value="123456"/>
    </bean>


    <bean id="user2" class="com.chuhelan.User">
        <property name="id" value="214"/>
        <property name="name" value="小明"/>
        <property name="password" value="677234"/>
    </bean>


    <bean id="user3" class="com.chuhelan.User">
        <property name="id" value="254"/>
        <property name="name" value="小张"/>
        <property name="password" value="928475"/>
    </bean>


</beans>